@import "./styles.scss";
@import-normalize;
/* bring in normalize.css styles */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    max-width: 950px;
  }
}

@media screen and (min-width: 1024) {
  .container {
    padding: 0 60px;
    max-width: 1100px;
  }
}

@media screen and (min-width: 1170px) {
  .container {
    padding: 0;
    max-width: 1170px;
  }
}